body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#fff;
    margin: 0;
    padding: 0;
}

/* Home Page  */

header h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 87px;
    font-weight: 500;
    font-size: 45px;
} 

header h1 #logo-img {
    width: 100px;
    height: 100px;
}

header .header-nav ul {
    list-style: none;
    text-align: center;
    background-color: #f57575;
    padding: 0;
    margin: 0;
}

header .header-nav ul li {
    display: inline-block;
}

header .header-nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.photo {
    padding-right: 50px;
    text-align: right;
    float: right;
}

.photo img {
    height: 400px;
    width: 400px;
    margin-top: 50px;
}

.content {
    padding-left: 50px;
}

.content h2 {
    font-size: 3.8rem;
    max-width: 50%;
    padding-left: 50px;
    padding-top: 50px;
    font-weight: 100;
    line-height: 4.2rem;
}

.content h2 span {
    background-color: #f57575;
    color: #fff;
    display: inline-block;
    line-height: 3.5rem;
    padding: 3px 15px;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 5px;
}

.content p {
    width: 50%;
    padding-left: 50px;
    margin-top: 10px;
    font-size: 17px;
    line-height: 25px;
}

.content button {
    background-color: #f57575;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-left: 50px;
    height: 40px;
    width: 100px;
    text-transform: uppercase;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #f57575;
    margin-top: 100px;
    text-align: center;
    height: 100%;
}

#footer h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

#footer p {
    color: #fff;
    font-size: 16px;
}

.icons a {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    margin: 20px 6px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 27px;
    border: 2px solid #ff0000;
}

.fa {
    background: #fff;
    color: #f57575;   
}

.copy {
    background-color: #ff0000;
    text-align: center;
    color: #fff;
    height: 30px;
    padding-top: 5px;
}

@media (min-width: 769px) {
    header .header-nav ul li a:hover {
        text-decoration: none;
        background-color: #fffff0;
        transition: 0.5s;
        color:#000;
    }
    .content button:hover {
        background-color: #f86969;
        transition: 0.5s;
        text-align: center;
        color:#000;
        transition: 0.5s;
        border: 5px solid #000;
    }
    .icons a:hover {
        text-decoration: none;
        line-height: 25px;
        color: #000;
        background-color: #fffff0;
        border: 3px solid #000;
        box-shadow: none;
        transform: scale(1.2);
        transition: 0.2s linear;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
    header h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-weight: 500;
        font-size: 30px;
    } 
    header h1 #logo-img {
        width: 80px;
        height: 80px;
    }
    header .header-nav ul li a {
        padding: 16px;
        font-size: 16px;
    }
    .content {
        padding-left: 0;
    }
    .content h2 {
        max-width: 100%;
        padding-top: 20px;
        font-weight: 100;
        font-size: 30px;
    }
    .content h2 span {
        padding: 1px 8px;
        margin-top: 8px;
        font-weight: 400;
        font-size: 25px;
    }
    .content p {
        width: 100%;
        padding-right: 40px;
        font-size: 15px;
    }
    .content button {
        font-weight: 500;
        font-size: 14px;
        margin-top: 3px;
        height: 30px;
        width: 80px;
    }
    #footer h1 {
        font-size: 20px;
    }
    #footer p {
        font-size: 12px;
    }
    .icons a:hover {
        color: #f57575;
    }
    .copy {
        font-size: 10px;
        height: 20px;
        padding-top: 5px;
    }
}

/* About Page */

.fullcontainer {
    width: 100%;
}

.fullcontainer .container {
    margin: auto;
}

.about-title {
    position: relative;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
    width: 400px;
    text-align: center;
    border-bottom: 3px solid #f57575;
    font-weight: 200;
    margin: 0 auto 30px;
}

.about-title::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #f86969;
    left:calc(50% - 10px);
    top: calc(87% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #f86969;
}

#about p {
    padding-top: 10px;
    text-align: center;
    font-size: 17px;
}

#pricing {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
  
.level {
    background-color: #f86969;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product p {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
}
  
.product > button {
    background-color: #f57575;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    height: 30px;
    width: 80px;
    text-transform: uppercase;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
}
  
@media (min-width: 769px) {
    .product:hover{
        margin: -10px 0;
        border: 3px solid #f86969;
        height: auto;
        transition: 0.3s;
    }
    
    .product:hover button {
        background-color: #f86969;
        text-align: center;
        color:#000;
        transition: 0.3s;
        line-height: 5px;
        border: 3px solid #000;
        font-size: 20px;
        width: 120px;
    }
}

@media (max-width: 768px) {
    .about-title {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 300px;
        border-bottom: 2px solid #f57575;
        font-weight: 200;
        font-size: 25px;
        margin: 0 auto 30px;
    }
    .about-title::after {
        height: 10px;
        width: 10px;
        left:calc(50% - 10px);
        top: calc(93% - 7px);
        border: 3px solid #f86969;
    }
    #about p {
        padding-top: 0px;
        text-align: center;
        font-size: 15px;
    }
    #pricing{
        flex-direction: column;
    }
    .product{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }   
    .level {
        padding: 5px 0;
        font-weight: 500;
    } 
}

/* Contact Page */

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .heading {
    position: relative;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
    text-align: center;
    border-bottom: 3px solid #f57575;
    font-weight: 200;
    margin: 0 auto 30px;
}

.contact .heading::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #f86969;
    left:calc(50% - 10px);
    top: calc(89% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #f86969;
}

.contact-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-us .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-us .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-us .contact-info .box .icon {
    width: 60px;
    height: 60px;
    background: #f57575;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 23px;
    color: #fff;
}

.contact-us .contact-info .box .text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
}

.contact-us .contact-info .box .text h3 {
    font-weight: 900;
    color: #ff0000;
}

.contact-form {
    width: 40%;
    padding: 40px;
    background-color: #f57575;
}

.contact-form h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

.contact-form .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .inputbox input, .contact-form .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    resize: none;
}

.contact-form .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #000;
}

.contact-form .inputbox input:focus ~ span, 
.contact-form .inputbox input:valid ~ span,
.contact-form .inputbox textarea:focus ~ span,
.contact-form .inputbox textarea:focus ~ span  {
    color: #000;
    font-size: 12px;
    transform: translateY(-20px);
    font-weight: 300;
}

.contact-form .inputbox input[type="submit"] {
    width: 100px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 3px solid #000;
    background-color: #fffff0;
}

@media (min-width: 769px) {
    .contact-form .inputbox input[type="submit"]:hover {
        text-align: center;
        color:#000;
        transition: 0.3s;
        line-height: 5px;
        font-weight: 900;
        font-size: 20px;
        width: 100px;
        height: 51px;
        background-color: #fffff0;
    }
}

@media (max-width: 768px) {
    .contact {
        padding: 0;
        margin: 0;
    }
    .contact .heading h2{
        padding-top: 5px;
        width: 200px;
        text-align: center;
        font-weight: 100;
        font-size: 25px;
        margin: 0 auto 3px;
    }
    .contact .heading::after {
        height: 10px;
        width: 10px;
        top: calc(95% - 7px);
        border: 1px solid #f86969;
    }
    .contact-us {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }
    .contact-us .contact-info {
        margin-bottom: 30px;
    }
    .contact-us .contact-info, .contact-form {
        width: 100%;
    }
}

/* Join Page */

.join {
    width: 100%;
}

.join .container {
    margin: auto;
}

.join h2 {
    position: relative;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 600px;
    text-align: center;
    border-bottom: 3px solid #f57575;
    font-weight: 200;
    margin: 0 auto 30px;
}

.join h2::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #f86969;
    left:calc(50% - 10px);
    top: calc(81% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #f86969;
}

.join p {
    padding-top: 10px;
    text-align: center;
    font-size: 17px;
}

.button {
    text-align: center;
}

.join .join-now {
    background-color: #f57575;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    height: 30px;
    width: 110px;
    text-transform: uppercase;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
}

.join .adopt {
    background-color: #f57575;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    height: 30px;
    width: 110px;
    text-transform: uppercase;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
}

@media (min-width: 769px) {
    .join button:hover {
        background-color: #f86969;
        transition: 0.5s;
        text-align: center;
        color:#000;
        transition: 0.3s;
        border: 3px solid #000;
        font-weight: 900;
    }
}

@media (max-width: 768px) {
    .join .container {
        margin: 0;
        padding: 0;
    }
    .join .container h2 {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 450px;
        text-align: center;
        border-bottom: 2px solid #f57575;
        font-size: 25px;
    }
    .join h2::after {
        height: 15px;
        width: 15px;
        top: calc(83% - 7px);
        border: 2px solid #f57575;
    }
    .join p {
        padding-top: 5px;
        text-align: center;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
}
